<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <%- include('partials/header.ejs') %>

        <% if (blogList.length < 1) { %>
        <h1>No blog posts found. Please create a blog post.</h1>
        <% } else { %>
            <h1>Blog posts</h1>
        <% } %>

        <div>
            <div>
                <% blogList.forEach(post => { %>
                <p>
                    <%= post.date %>
                </p>
                <h4>
                    <%= post.title %>
                </h4>
                <p>
                    <%= post.body.slice(0,300) %>
                    <% if (post.body.length > 299) { %> ...
                        <a href="/post/<%= post.id %>">View Blog post</a>
                    <% } %>
                </p>
                <div class="buttons">
                    <form action="/edit/<%= post.id %>" method="post">
                        <button class="editButton">Edit</button>
                    </form>
                    <form action="/delete/<%= post.id %>" method="post">
                        <button class="deleteButton">Delete</button>
                    </form>
                </div>
                <% }) %>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>